{% extends "AnnuaireRestoBundle::layout.html.twig" %}

{% block title %}
				{{ parent()}} - Home
{% endblock %}
{% block stylesheets %}
				       {{ parent() }}

{% endblock %}

{% block body %}
			   <h1 class="btn-primary"> Delete Resto {{id}}:) </h1>
{% endblock %}