{% extends "AnnuaireRestoBundle::layout.html.twig" %}


{% block title %}
				{{ parent()}} - Home
{% endblock %}
{% block stylesheets %}
				       {{ parent() }}

{% endblock %}

{% block body %}
			   <h1 class="btn-primary"> Show Resto {{id}} :) </h1>
{% endblock %}